<!DOCTYPE html>
<h1>Home Page</h1>
<section class="room-container">
    <div class="room-list" ng-repeat='room in home.database.rooms'>
        <a class="room" ng-click="home.message.getByRoomId(room.$id)">{{room.$value}}</a>
    </div>
    <form id="add-room" ng-submit="home.database.add(room)">
        <input type="text" ng-model="room" placeholder="Create a new room">
        <input type="submit" value="+">
    </form>
</section>
<section class="message-container">
    <div ng-repeat="message in home.message.messages">{{message.username}}:{{message.content}}</div>
</section>
<section>
    <form id="send-message" ng-submit="home.message.send(message)">
        <input type="text" ng-model="message" placeholder="Type message here" style="width:90%">
        <input type="submit" value="Send">
    </form>
</section>
